.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 300px;
  }
  
  .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form__label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form__input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
  }
  
  .form__checkbox-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form__button {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .form__button:hover {
    background-color: #444;
  }