.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 20px;
}

.logo a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style: none;
  text-align: center;
}

.nav-links li {
  height: 100%;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  transition: background-color 0.2s ease-in-out;
}

.nav-links a:hover {
  background-color: #555;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #333;
    height: 100vh;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .burger {
    display: block;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 750px;
  width: 100%;
}

.form span {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.form input {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease-in-out;
}

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.form input:focus {
  outline: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.form button {
  background-color: #2ecc71;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px 20px;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.form button:hover {
  background-color: #27ae60;
}

.error {
  color: #ff0000;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .form {
    padding: 20px;
  }
  
  .form input {
    padding: 10px 15px;
    font-size: 1rem;
  }
  
  .form button {
    padding: 10px 15px;
    font-size: 1rem;
  }
  
  .error {
    font-size: 0.8rem;
    margin-top: -5px;
    margin-bottom: 15px;
  }
}